.input-item > input {
    margin: 5px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.add-button {
    width: 200px;
    height: 30px;
    background-color: #4b5d8b;
    color: white;
    border-radius: 5px;
    border: 0;
}

.add-button:hover {
    color: black;
    background-color: aliceblue;
}
